<nav class="navbar navbar-dark navbar-expand-lg bg-info">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="/">DriveTest</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link active text-white"
            aria-current="page"
            href="/dashboard"
            >DASHBOARD</a
          >
        </li>
        <li id="gNavLink" style="display: none" class="nav-item">
          <a class="nav-link text-white" href="/g">G-LICENSE</a>
        </li>
        <li id="g2NavLink" style="display: none" class="nav-item">
          <a class="nav-link text-white" href="/g2">G2-LICENSE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/login">LOGIN/SIGNUP</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li id="logout" style="cursor: pointer" class="nav-item">
          <div class="nav-link text-white text-decoration-underline" href="#">
            Logout
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
