<p><%= data.description %></p>
<form>
  <div class="row">
    <div class="col">
      <div class="mb-3">
        <label for="licenseNumber" class="form-label">License Number:</label>
        <input type="text" class="form-control" id="licenseNumber" />
      </div>
    </div>
    <div class="col" style="margin: 32px 0px 0px 24px">
      <button type="submit" class="btn btn-primary">Search Now</button>
    </div>
  </div>
</form>
